.neues-und-angebote h3{
    font-size:20px;
}
.neues-und-angebote h4{
    font-size:14px;
}
.neues-und-angebote p{
    font-size:14px;
}
.onsale-badge{
    position: absolute;
    top:0;
    left:0;
    img{
        height: auto;
        width: 40px;
    }
}